<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebsiteAggregation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebsiteAggregation.Properties.Settings>
            <setting name="LastWindowWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="LastWindowHeight" serializeAs="String">
                <value>768</value>
            </setting>
        </WebsiteAggregation.Properties.Settings>
    </userSettings>
</configuration>